# Freecodecamp -  Demographic Data Analyzer Project

In [3]:
import pandas as pd

In [4]:
# Read data from file
df = pd.read_csv("C:...adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

How many of each race are represented in the dataset?

In [6]:
race_count = df['race'].value_counts()
#race_count.value_counts()

What is the average age of men?

In [10]:
average_age_men = round(df.loc[df["sex"] == "Male", "age"].mean(), 1)
average_age_men

39.4

What is the percentage of people who have a Bachelor's degree?

In [12]:
percentage_bachelors = round(
        len(df[df["education"] == "Bachelors"]) / len(df) * 100, 1)

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

What percentage of people without advanced education make more than 50K?

With and without `Bachelors`, `Masters`, or `Doctorate`

In [13]:
#Defining the Groups
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [14]:
#Percentage with higher education and salary > 50k
higher_education_rich = round(len(higher_education[higher_education["salary"] == ">50K"]) / len(higher_education) * 100, 1)
higher_education_rich

46.5

In [15]:
lower_education_rich = round(len(lower_education[lower_education["salary"] == ">50K"]) / len(lower_education) * 100, 1)
lower_education_rich

17.4

What is the minimum number of hours a person works per week?

In [16]:
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

What percentage of the people who work the minumum number of hours per week have a salary of >50K?

In [17]:
min_workers = len(df[df["hours-per-week"] == min_work_hours])
rich_minwork = ((len(df[(df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours)]))/min_workers)*100
rich_minwork

10.0

What country has the highest percentage of people that earn >50K?

In [20]:
highest_earning_country = (df.loc[df["salary"] == ">50K","native-country"].value_counts() / df["native-country"].value_counts()).fillna(0).sort_values(ascending=False).index[0]
highest_earning_country_percentage = round(len(df[(df["native-country"] == highest_earning_country) & (
        df["salary"] == ">50K")]) / len(df[df["native-country"] == highest_earning_country]) * 100, 1)

Identify the most popular occupation for those who earn >50K in India

In [22]:
top_IN_occupation = df[(df["salary"] == ">50K") 
                       & (df["native-country"] == "India")]["occupation"].value_counts().index[0]

 # Summary of Results

In [23]:

print("Number of each race:", race_count)
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_minwork}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race: White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty